@media (max-width: 640px) {
    /* .intro-section {
      width: auto;
    } */
    header nav.container {
        padding: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #_hero-section {
        background-image: linear-gradient(
            to right,
            rgba(1, 43, 144, 0.1) 0%,
            rgba(1, 43, 144, 0.1) 50%
          ),
          url("../assets/mobile/emotional-intellegence-bg.png");
          height: 855px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
    }
    #_hero-section .inner-container {
      padding-left: 1rem; /* Adjust padding for small screens */
      width: 100%; /* Make container full width */
      height: 100%; /* Ensure full height */
      text-align: center; /* Center text */
    }

    #_hero-section div{
        margin: auto;
        max-width: 390px;
        height: 311px;
        padding-left: 0;
        padding-top: 150px;
    }

    #_hero-section h2 {
        /* Layout */
        width: 311px;
        height: 57px;
        margin-bottom: 30px;
        /* Typhograhy */
        font-family: Magnolia Script;
        font-weight: 400;
        font-size: 24px;
        line-height: 36.66px;
        text-align: center;
        color: #FAF5F0;
    }

    #_hero-section h1 {
        /* Layout */
        width: 350px;
        height: 144px;
        gap: 0px;
        opacity: 0px;
        /* Typhograhy */
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 800;
        line-height: 48px;
        text-align: center;
        color: #FAF5F0;
    }
    #_hero-section h1 br {
      display: none; /* Hide the <br> tag */
    }
    #_hero-section a {
        /* Layout */
      padding: 0.5rem 1.875rem; /* Adjust button padding */
      font-size: 0.875rem; /* Adjust font size */
      text-transform: uppercase;
    }

    /* image banner  */
    #_image-banner div {
      padding: 8px 0;
    }
    .resize-image {
        max-width: 80px; /* Adjust width as needed */
        margin: auto;
        text-align: center;
    }



    .card {
        width: 310.76px;
        height: 585px;
    }

    #_section-5 {
        background-image: url(../assets/mobile/h-i-c-h-y.png);
        width: 100%;
        height: 1061px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #_section-5 div p {
        margin-top: 20px;
        /* width: 287px; */
        font-size: 14px;
        font-weight: 600;
        text-align: left;
    }
    #_section-5-content {
        width: 320px;
        padding: 0;
        padding-left: 20px;
        padding-top: 10px;
    }
    #_section-5 .content {
        width: auto;
    }
    #_section-5-title {
        margin: 0;
        margin-top: 50px;
        width: 244px;
    }
    #_section-5-title h1{
        line-height: 34px;
        font-size: 28px;
    }
    #_section-5-title .section5-you {
        font-size: 28px;
    }

    #_section-5-title2 h1{
        width: 269px;
        font-size: 28px;
    }
    #_section-5-title2 p {
        width: 259px;
        height: 207px;
    }
    #_section-5-book-free-consult-btn a {
        padding: 0;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 15px;
        padding-bottom: 15px;
      }

    /* hero section */
    
    #_hero-section h1 {
        width: 230px;
        font-size: 21px;
        line-height: 34px;
    }

    #_hero-section h2 {
        font-size: 22px;
    }

    #_hero-section a {
        margin-top: 20px;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
    }

      .card {
        width: 310.76px;
        height: 585px;
      }
      /* card1 */
      #podcast-section {
        margin: 0 auto;
        width: 310.76px;
        box-sizing: border-box;
        
      }
      #podcast-section .pod-heading-cards {
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 28px;
        font-weight: 800;
        line-height: 34.13px;
        text-align: center;
      }
      .pod-heading-cards h1.pod {
    
        font-weight: 400;
        font-size: 40px;
        line-height: 51px;
      }
      #card1,#card2 {
        margin: 0;
        padding: 0;
        display: block;
        height: 579px;
        width: 310.76px;
      }
      #card1 .bg-transparent,#card2 .bg-transparent  {
        margin: 0;
      }
      #card1 div div.heading-container-pink
      ,#card2 div div.heading-container-pink {
        padding: 0;
      }
      #card1 img,
      #card2 img {
        height: 367.55px;
      }
      #card1 .timing {
        width: 249.9px;
        height: 52px;
        font-size: 21.1px;
        line-height: 25.72px;
        font-weight: 700;
      }
      #card1 .emo {
        /* width: 252px;
        height: 37px;
        */
        height: 37px;
        font-size: 25.96px;
        line-height: 36.61px;
        font-weight: 400;
      }
      #card1 .with-steph {
        font-weight: 500;
        font-size: 12.98px;
        line-height: 18.89px;
      }
      #card1 .listen {
        width: 202.84px;
        height: 32.45px;
        border-radius: 32.45px;
        font-size: 12.98px;
        font-weight: 600;
        line-height: 15.24px;
      }
      #card1 .mx-12,
      #card2 .mx-12 {
        width: 112.78px;
        height: 30.83px;
        margin: 0 auto;
      }
      #card1 .mx-12 h2,
      #card2 .mx-12 h2 {
        font-weight: 500;
        font-size: 12.98px;
        text-align: center;
      }

      /* card2 */
      #card2 {
        margin-top: 53px;
        margin-bottom: 73px;
      }
      #card2 .redefining {
        width: 231.03px;
        height: 51.91px;
        font-size: 21px;
        line-height: 25.6px;
        font-weight: 700;
      }
      #card2 .daniel {
        /* width: 165px; */
        height: 35.94px;
        font-weight: 400;
        font-size: 25.85px;
        line-height: 36.45px;
      }
      #card2 .with-steph {
        font-weight: 500;
        font-size: 12.98px;
        line-height: 18.89px;
      }
      #cards-btn {
        text-align: center;
        margin-bottom: 70px;
      }
      #cards-btn a {
        font-weight: 600;
        font-size: 16px;
        padding-left: 58px;
        padding-right: 58px;
        padding-top: 18px;
        padding-bottom: 18px;
      }
      #card3,#card4 {
        display: none;
      }

      /* offferings */
      #offerings-card1,
      #offerings-card2 {
        display: none;
      }

      #offerings-card3 {
        width: 330px;
        height: 467px;
        padding: 0;
        margin: 0;
        margin-top: 30px;
      }

      .offerings-cards-slide-icon {
        width: 100%;
        display: inline-flex;
        justify-content: center; 
        margin-top: 20px;
      }

      .offerings-cards-slide-icon img {
        align-items: center;
        padding: 20px;
      }

      /* how it works */
      ._how-it-works {
        padding-bottom: 60px;
      }

      ._how-it-works svg {
        display: none;
      }

      #_hiw-grid-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
        gap: 10px; /* Adds spacing between the items */
        display: -ms-grid; /* For IE 11 */
      }

    /* latest-blog */
    #sec-latest-blog {
      margin: 0 0 300px 0;
    }
    #sec-latest-blog .container {
      width: 100%;
    }
    #blog-post-wrapper h3 {
      font-size: 9px;
    }
    #sec-lblog-btn {
      padding-top: 16px;
      padding-bottom: 16px;
    }
    #_text-reminder h2 {
      font-size: 14px;
    }
    #_text-reminder button {
      padding: 8px;
      font-size: 10px;
    }
    #latest-blog-con-flex {
      flex-direction: column; /* Stack the sections vertically */
      gap: 50px; /* Adjust gap between sections */
      padding: 0 16px; /* Optional: add some padding to the container */
    }
    #latest-blog-con-flex .item-left-sec {
      margin-left: 0; /* Remove the left margin on small screens */
    }
    #latest-blog-con-flex .item-left-sec {
      width: 100%; /* Make the left section full-width */
    }
    #latest-blog-con-flex .item-right-sec {
      width: 100%; /* Ensure the right section is also full-width */
    }
    #sec-latest-blog {
      margin: 0 0 380px 0; /* Replace 20px with your desired bottom margin value */
    }
    #blog-post-wrapper img {
      height: 100px;
    }
    #blog-post-wrapper .py-2 {
      padding-top: 0;
    }
    #blog-post-wrapper h3 {
      font-size: 12px;
      word-wrap: break-word; /* Wrap long words */
      line-height: 1.5; /* Adjust line spacing to ensure good readability */
      white-space: normal; /* Ensure text wraps naturally */
    }
    #blog-post-wrapper h3 br {
      display: none;
    }
    #sec-lblog-btn {
      display: block;
      margin: 50px auto 0; /* Center the button horizontally */
      position: relative;
      padding-top: 18px;
      padding-bottom: 18px;
    }
    #sec-lblog-btn .read-more{
      display: none;
    }
    #sec-lblog-btn .all-blogs{
      display: block;
    }
    .latest-blog-hero {
      background-image: linear-gradient(
                    rgb(37, 140, 218) 2%,
                      rgb(37, 140, 218,) 100%
                    ),
                    url('../assets/mobile/rear-view-audience.png');
        
     }
    #_text-reminder h2 {
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
    }
    #_text-reminder p {
      font-size: 10px;
    }


     /* subscribe-section */
     .subscribe-section .flex {
      flex-direction: column; /* Stack the image section above the content section */
      align-items: center; /* Optional: center the items */
    }
    #subscribe-image-section {
      width: 75%;
      display: block; /* Ensure the image section is visible */
      margin-top: -85rem; /* Add some space below the image */
    }
    .subscribe-section {
      background-image: linear-gradient(
        to left, 
        rgba(194, 213, 228, 0.1) 0%, 
        rgba(194, 213, 228, 0.1) 100%
        ), 
        url(../assets/mobile/subscribe-section-bg.png),
        url(../assets/mobile/subscribe-blue-bg.png);
      height: 608px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    #subscribe-content-section {
      position: absolute;
      margin-top: 95px;
      width: 100%;
    }
    #_mt9rem {
      margin-top: 36rem;
    }
    #subscribe-content-section .mt-20{
      margin: 0 auto;
      width: 80%; /* Adjust the text width to fit within the screen */
    }
    #subscribe-content-section p {
      width: 80%; /* Adjust the text width to fit within the screen */
    }
    /* #subscribe-content-section .relative button { */
      /* left: 50%;  Moves the button's left edge to the center of the parent */
      /*transform: translateX(-50%); Offsets the button to fully center it */
      /* right: 18%;
      position: absolute; */
    /* } */

    /* Footer 1 Section */
    /* footer desktop */
    #footer-section-links {
      display: none;
    }
    /* footer mobile */
    #footer-section-componet-small {
      display: block;
    }
    #logo-section-container {
      display: flex;
    }
    .logo-footer {
      margin-left: 10px;
    }
    .social-links-icon {
      display: flex;
      padding-left: 20px;
      gap: 24px;
    }
    .about_courses-awards-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 8px;
      padding: 30px 20px;
    }
    .about-courses-sections {
      flex:1; /* Takes up twice as much space */
    }
    .awards-section {
        flex: 1; /* Takes up less space */
    }
    .courses-section {
      padding-top: 30px;
    }
    .awards-section #bronze-awards-img{
      padding-top: 10px;
      width: auto;
    }
    .awards-section #nominee-awards-img {
      padding-top: 20px;
      width: auto;
    }
  }



  @media (max-width: 430px) {
    #_hiw-grid-wrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
      gap: 10px; /* Adds spacing between the items */
      display: -ms-grid; /* For IE 11 */
    }

    /* subscribe-section */
    #subscribe-content-section .relative button {
      /* left: 50%;  Moves the button's left edge to the center of the parent */
      /*transform: translateX(-50%); Offsets the button to fully center it */
      right: 0;
    }

    /* Footer 1 Section */
    /* footer desktop */
    .awards-section #bronze-awards-img{
      padding-top: 10px;
      width: 100%;
    }
    .awards-section #nominee-awards-img {
      padding-top: 20px;
      width: 100%;
    }

    /* image banner  */
    #_image-banner div {
      padding: 8px 0;
    }
    .resize-image {
        max-width: 60px; /* Adjust width as needed */
    }

  }

  @media (min-width: 768px) {
    #right-menu-section,
    #stephanie-logo-section {
      margin-left: 30px;
    }

    /* image banner  */
    #_image-banner div {
      padding: 8px 0;
    }
    .resize-image {
        max-width: 100px; /* Adjust width as needed */
    }
  }

  @media (min-width: 1024px) {
    #right-menu-section,
    #stephanie-logo-section {
      margin-left: 90px;
    }
  }

  @media (min-width: 1024px) {
    /* image banner  */
    #_image-banner div {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .resize-image {
        min-width: 130px; /* Adjust width as needed */
    }
  }


  @media (max-width: 320px) {
    #_section-5-content {
      width: 70%;
      padding-left: 20px;
    }

    #_section-5 div p {
      margin-top: 0;
      width: auto;
      text-align: left;
    }

    #_section-5-title2 h1 {
      width: auto;
      font-size: 20px;
    }

    #_section-5-book-free-consult-btn {
      margin-top: 30px;
    }

    .section-off-wrapper {
      width: 80%;
      margin: auto;
    }

    #offerings-card3 .object-cover {
      height: 100%;
    }

    .offerings-cards-slide-icon {
      margin-top: 80px;
      display: flex;
    }

    /* how it works */
    #_hiw-grid-wrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
      gap: 10px; /* Adds spacing between the items */
      display: -ms-grid; /* For IE 11 */
    }

    /* subscribe section */
    #_mt9rem {
      margin-top: 39rem;
    }

    #subscribe-content-section {
      margin-top: 14px;
    }

    /* latest-blog */
    #sec-latest-blog {
      margin: 0 0 300px 0;
    }

    #blog-post-wrapper h3 {
      font-size: 9px;
    }

    #sec-lblog-btn {
      padding-top: 16px;
      padding-bottom: 16px;
    }
    #_text-reminder h2 {
      font-size: 14px;
    }
    #_text-reminder button {
      padding: 8px;
      font-size: 10px;
    }

    /* image banner  */
    #_image-banner div {
      padding: 8px 0;
    }
    .resize-image {
        max-width: 45px; /* Adjust width as needed */
    }
  }

  @media (max-width: 200px) {
    .offerings-cards-slide-icon {
      margin-top: 120px;
    }
  }

	 @media (min-width: 1536px) {
    /* image banner  */
    #_image-banner div {
      padding-top: 56px;
      padding-bottom: 56px;
    }
    .resize-image {
        min-width: 200px; /* Adjust width as needed */
        margin: auto;
        text-align: center;
    }
  } 
  