/* Google fonts Imports */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/magnolia-script");
@import url("https://fonts.cdnfonts.com/css/brittany-signature");

/* General css for website */
* {
    box-sizing: border-box;
  }  
body {
    background-color: #faf5f0;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
    width: 100vw;
}

.title-heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 34px;
    color: #376489;
    font-family: "Montserrat", sans-serif;
    margin-top: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }

  .custom-gradient {
    background-image: linear-gradient(
      90deg,
      rgba(194, 213, 228, 0.5008054247089461) 0%,
      rgba(194, 213, 228, 1) 50%,
      rgba(194, 213, 228, 1) 100%
    );
  }

  .custom-clip {
    clip-path: inset(0 0 10% 0);
  }
  /* Fonts */
  .font-raleway {
    font-family: "Raleway", sans-serif;
  }

  .font-mangolia {
    font-weight: 400;
    font-family: "Magnolia Script", sans-serif;
  }

  .font-brittany {
    font-family: "Brittany Signature", sans-serif;
  }

  .font-montserrat {
    font-family: "Montserrat", sans-serif;
  }

  /* Titles & Headings */
  .title-heading {
    text-align: center;
    text-transform: uppercase;
    color: #376489;
    font-family: "Montserrat", sans-serif;

    font-weight: 800;
  }

  .gradiant-bg-color-img {
    background-blend-mode: multiply;
    background-image: linear-gradient(to right, #faf5f0, #faf5f000),
      linear-gradient(to bottom, #faf5f000, #faf5f000),
      linear-gradient(to left, #faf5f0, #faf5f000);
  }
  .gradiant-border-blue {
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom, #fafafa00, #274c69) 1;
    transition: 0.3s ease all;
  }
  .gradiant-border-pink {
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom, #fafafa00, #c1989f) 1;
    transition: 0.3s ease all;
  }
  .Offerings-hover-blue {
    transition: 0.3s ease all;
  }
  .Offerings-hover-blue:hover .gradiant-border-blue {
    background-color: #4a7393;
    color: #fff !important;
  }

  .Offerings-hover-blue:hover .gradiant-border-blue-text {
    color: #c2d5e4 !important;
  }

  .Offerings-hover-blue-img {
    transition: 0.3s ease all;
  }
  .Offerings-hover-blue:hover .Offerings-hover-blue-img {
    transform: scale(2);
  }

  .Offerings-hover-blue-text {
    transition: 0.3s ease all;
  }
  .Offerings-hover-blue:hover .Offerings-hover-blue-text {
    background-color: #4a7393;
    color: #c2d5e4 !important;
  }
  .Offerings-hover-blue:hover .Offerings-hover-blue-text p {
    color: #c2d5e4 !important;
  }

  .Offerings-hover-blue:hover button {
    background-color: #c2d5e4;
    color: #4a7393;
  }

  .Offerings-hover-pink {
    transition: 0.3s ease all;
  }
  .Offerings-hover-pink:hover .gradiant-border-pink {
    background-color: #c6a2a7;
    color: #fff !important;
  }

  .Offerings-hover-pink:hover .gradiant-border-pink-text {
    color: #f1e1e4 !important;
  }

  .Offerings-hover-pink-img {
    transition: 0.3s ease all;
  }
  .Offerings-hover-pink:hover .Offerings-hover-pink-img {
    transform: scale(2);
  }

  .Offerings-hover-pink-text {
    transition: 0.3s ease all;
  }
  .Offerings-hover-pink:hover .Offerings-hover-pink-text {
    background-color: #c6a2a7;
    color: #f1e1e4 !important;
  }
  .Offerings-hover-pink:hover .Offerings-hover-pink-text p {
    color: #f1e1e4 !important;
  }

  .Offerings-hover-pink:hover button {
    background-color: #f1e1e4;
    color: #c6a2a7;
  }
  .Heading-pink {
    transition: 0.3s ease all !important;
  }
  .Heading-pink img {
    transition: 0.3s ease all;
  }
  .Heading-pink:hover img {
    transform: scale(1.2);
  }

  .Heading-pink:hover .title-container {
    background-color: #f1e1e4;
    transition: 0.3s ease all;
  }
  .Heading-pink:hover h2 {
    color: #c1989f !important;
  }
  .Heading-pink .heading-container-pink {
    transition: 0.3s ease all;
  }
  .Heading-pink:hover .heading-container-pink {
    background-color: #c1989f;
  }

  .Heading-pink:hover .heading-container-pink p {
    transition: 0.3s ease all;
  }
  .Heading-pink:hover .heading-container-pink p {
    color: #f1e1e4;
  }

  .Heading-pink:hover button {
    background-color: #f1e1e4;
    color: #c1989f;
  }

  .Heading-blue {
    transition: 0.3s ease all !important;
  }
  .Heading-blue img {
    transition: 0.3s ease all;
  }
  .Heading-blue:hover img {
    transform: scale(1.2);
  }

  .Heading-blue:hover .title-container-blue {
    background-color: #c2d5e4;
    transition: 0.3s ease all;
  }
  .Heading-blue:hover h2 {
    color: #274c69 !important;
  }
  .Heading-blue .heading-container-blue {
    transition: 0.3s ease all;
  }
  .Heading-blue:hover .heading-container-blue {
    background-color: #274c69;
  }

  .Heading-blue:hover .heading-container-blue p {
    transition: 0.3s ease all;
  }
  .Heading-blue:hover .heading-container-blue p {
    color: #c2d5e4;
  }

  .Heading-blue:hover button {
    background-color: #c2d5e4;
    color: #274c69;
  }
  footer {
    font-family: "Raleway", sans-serif !important;
  }
  .about-container a:hover {
    text-decoration: underline;
  }
  .courses-container-container a:hover {
    text-decoration: underline;
  }

  /* Section - Subscribe */
  .subscribe-section {
    background-image: linear-gradient( 
              to left,
              rgba(194, 213, 228, 1) 20%,
              rgba(194, 213, 228, 0.9) 100%
            ),
            url('https://s3-alpha-sig.figma.com/img/230d/52ea/5fa8a420d4dca2a0c35e12e10464fa48?Expires=1725235200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=fJvGBP4p4WxmQw1st-7wTURBi21abcNWdF3Fms53jo2jVzQPeCMgWvIK5JNRNNi~qO8VE1KD5xxTgCemBphhVg5SiP2yjocSCLBAP6e9kn5fykvhUvX-s2mKswuWb7ENNUzJ1kICXEzhfF3mwQBL1OfKOWPw~VxHqKTpxt3gspmC0NXrL~TZ0k3qDDBC4DHrdqDMW7IdPmsxZAb~eUnNF2UeVLd7xkVvhRwbkonE~Ot516JVyuLbJlqEC8nWvr0~YbX6Oar9hg4K28wAMvjEUQYeynsXP6PUvEkBSdC6q3OIwPCasgBpWHtT0NYpjyubuA-cZFfajhecH1ACPeT0tQ__');
    height: 74vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   }

   /* Hero Section with Background Image and Overlay */
   #_hero-section {
        background-image: linear-gradient(
              to right,
              rgba(1, 43, 144, 0.9) 0%,
              rgba(1, 43, 144, 0) 50%
            ),
            url("../assets/hero.jpg");
   }

   /* Section How it Works */
   ._how-it-works {
        background-image: linear-gradient(
                rgba(216, 184, 184, 0.1) 20%,
                rgba(216, 184, 184, 0.1) 100%
              ),
              url('../assets/sectionWork/sectionWork.jpg');
        height: 70vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
   }

    /* Section 3: Image Banner */
    #_image-banner {
        background-image: linear-gradient(
              to right,
              rgba(193, 152, 159, 0.9) 80%,
              rgba(193, 152, 159, 0.9) 80%
            ),
            url('../assets/banner.png');
            background-size: cover;
            background-repeat: no-repeat;
    }

    /* Section 5 */
    #_section-5 {
        background-image: linear-gradient(
              to right,
              rgba(194, 213, 228, 0.1) 1%,
              rgba(194, 213, 228, 0) 50% /* Fade out towards the right */
            ),
            url('../assets/section8.jpg');
          height: 125vh;
          background-position: right;
          background-size: cover;
          background-repeat: no-repeat;
    }

    .intro-section {
        position: relative;
        box-sizing: border-box;
    }


    /* Section Latest BLog */
    .latest-blog-hero {
      background-image: linear-gradient(
                      rgba(39, 76, 105, 0) 40%,
                      rgb(37, 140, 218) 100%
                    ),
                    url('../assets/blog-images/main.png');
    }








    /* Navbar Styles */
    /* #nav-menu {
      display: none;
    }
    
    #nav-menu.open {
      display: flex;
    }
     */